.header-adocao {
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  color: white;
  text-align: center;
  padding: 35px 20px;
  border-bottom: 4px solid #581c87;
}

.header-adocao h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.header-adocao p {
  font-size: 18px;
}

.categorias {
  margin: 60px auto 20px auto;
  max-width: 800px;
  text-align: center;
}

.categorias h2 {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd6fe;
  display: inline-block;
  padding-bottom: 5px;
}

.pet h3 {
  margin-top: 10px;
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.categoria img {
  width: 100px;
  height: 100px;
}

.categoria button {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: white;
  color: #9333ea;
  border: 2px solid #9333ea;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.categoria button:hover {
  background-color: #9333ea;
  color: white;
}

.fichas {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.botao-adotar {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #9333ea;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.botao-adotar:hover {
  background-color: #6b21a8;
  transform: scale(1.05);
}


.pet {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.pet img {
  width: 100%;
  border-radius: 10px;
}

.oculto {
  display: none;
}

@media (max-width: 768px) {
  .header-adocao h1 {
    font-size: 32px;
  }

  .header-adocao p {
    font-size: 16px;
  }

  .categorias {
    margin: 40px 20px 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .categoria img {
    width: 80px;
    height: 80px;
  }

  .categoria button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .fichas {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 20px;
  }

  .pet {
    width: 90%; /* ocupa quase a tela toda */
    max-width: 300px;
  }

  .botao-adotar {
    font-size: 14px;
    padding: 8px 14px;
  }

  .categorias h2,
  .fichas h2 {
    font-size: 22px;
  }
}